@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans:400,600,700|Oswald:400,600|Roboto:400,500,700&display=swap');


$font__roboto: 'Roboto',
sans-serif;
$font__opensans: 'Open Sans',
sans-serif;
$font__oswald: 'Oswald',
sans-serif;
$font__anton: 'Anton',
sans-serif;
